{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}App Store{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    {% include 'main/includes/categories_nav.html' %}
    <h1>AppStore</h1>

  <nav>
        <a href="{% url 'main:index' %}">Главная</a>
        <a href="{% url 'main:new' %}">Новые приложения</a>
        <a href="{% url 'main:about' %}">О магазине</a>
        <a href="{% url 'main:free_apps' %}">Бесплатные</a>
        <a href="{% url 'main:paid_apps' %}">Платные</a>
        {% if user.is_authenticated %}
            <a href="{% url 'main:add_app' %}">Добавить приложение</a>
            <span>Вы вошли как <strong>{{ user.username }}</strong></span>
            <form method="post" action="{% url 'main:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'main:login' %}">Войти</a>
            <a href="{% url 'main:register' %}">Регистрация</a>
        {% endif %}
    </nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <form method="GET" action="{% url 'main:index' %}">
        <input
            type="text"
            name="q"
            placeholder="Поиск приложений..."
            value="{{ q }}"
        >
        {% if request.GET.sort %}
            <input
                type="hidden"
                name="sort"
                value="{{ request.GET.sort }}"
            >
        {% endif %}

        <button type="submit">Найти</button>
    </form>

    {% block content %}{% endblock %}

    <p>Пользователь {{ user }}/ сделан ли вход {{ user.is_authenticated}}</p>

<footer>
    Всего на сайте:
    категорий {{ category_total }},
    приложений {{ apps_total }},
    отзывов {{ reviews_total }}
</footer>

</body>
</html>