{% extends 'main/base.html' %}

{% block content %}

<h1>{{ category.name }}</h1>

{% for app in apps %}
    <p>
        <a href="{% url 'main:app_detail' app.id app.slug %}">
            {{ app.name }}
        </a>
    </p>
{% empty %}
    <p>В категории пока нет приложений.</p>
{% endfor %}


<h2>Самое дорогое приложение</h2>

{% if most_expensive %}
    <div>
        <strong>{{ most_expensive.name }}</strong>
        — {{ most_expensive.price }} $
    </div>
{% else %}
    <p>В категории пока нет приложений.</p>
{% endif %}

<p>Всего в категории: {{ apps|length }}</p>

{% endblock %}